@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #f5f5f5;
}
/* navbar-styling */
nav {
  background: #000;
  color: white;
}
.logo h1 {
  color: #ffdd45;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px;
}

.navbar {
  max-width: 1200px;
  margin: auto;
}

.search-container input,
button {
  padding: 5px 10px;
  border: none;
  font-size: 16px;
  outline: none;
  cursor: pointer;
}

.search-container input {
  border-radius: 3px 0 0 3px;
}

.search-container button {
  border-radius: 0 3px 3px 0;
  transition: all 0.1s ease-in-out;
}

.search-container button:hover {
  background-color: red;
}

/* movie section styling */
main {
  max-width: 1200px;
  margin: auto;
  margin-block: 38px;
}
main section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 72vh;
}
.movie-container {
  display: flex;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0px 0px 10px #ccc;
  width: 80%;
  border-radius: 5px;
}
.movie-poster img {
  height: 450px;
  margin-right: 30px;
  border-radius: 5px 0 0 5px;
}

.movie-info {
  padding-inline: 15px;
}

.movie-info h2 {
  text-align: center;
  font-size: 32px;
  margin: 20px 0 12px 0;
}

.movie-info h2 + p {
  text-align: center;
}

.movie-info .movie-genre P {
  background-color: #000;
  color: #fff;
  padding: 5px 14px;
  margin-inline: 5px;
  border: 2px solid #000000;
  border-radius: 6px;
  font-weight: 700;
}

.movie-genre {
  display: flex;
  justify-content: center;
  margin-block: 5px;
  overflow-x: auto;
}

.movie-info p {
  font-size: 18px;
  margin-block: 16px;
  line-height: 24px;
}

.movie-container.noBackground {
  background: none;
  box-shadow: none;
}
/* footer styling */
footer {
  text-align: center;
  background-color: #000;
  color: #fff;
  padding-block: 20px;
  margin-top: 40px;
  font-size: 20px;
}

@media screen and (max-width: 950px) {
  .movie-container {
    flex-direction: column;
  }
  .movie-poster img {
    width: 100%;
    height: fit-content;
    margin-right: 0;
  }

  .movie-info {
    padding-inline: 30px;
  }
}

@media screen and (max-width: 630px) {
  .navbar {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .search-container {
    margin-top: 12px;
  }
}

@media screen and (max-width: 481px) {
  .movie-genre {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
@media screen and (max-width: 325px) {
  .search-container form {
    text-align: center;
  }
  .search-container form input {
    display: inline-block;
    margin-bottom: 10px;
    text-align: center;
  }
}
